.searchPage_header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}

.searchPage_logo {
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}

.searchPage_headerBody > .search > .search_input {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchPage_options {
    display: flex;
    align-items: center;
    color: gray;
}

.searchPage_optionsRight a, .searchPage_optionsLeft a {
    text-decoration: none;
    color: gray;
}

.searchPage_optionsRight, .searchPage_optionsLeft {
    display: flex;
}

.searchPage_optionsRight {
    margin-left: 80px;
}

.searchPage_option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage_option a {
    margin-left: 5px;
}
